{% extends "base.html" %}

{% block title %}Delete game{% endblock title %}

{% block content %}

	<h1>Delete {{ game_name }}</h1>
	<p id="del-text">The game corresponding to the info below will be deleted. This action cannot be undone. Are you sure?</p>
	<div class="game-info">
	    <table class="table table-bordered">
			<tr>
				<th>Name</th>
				<td>{{ game_name }}</td>
			</tr>
			<tr>
				<th>URL</th>
				<td>{{ source_url }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>€{{ price }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ description }}</td>
			</tr>
		</table>
	</div>
	
	<div class="form-container">
		<form name="input" action="/games/delete/" method="post"> {% csrf_token %}
			<div class="form-group">
			    <input type="hidden" name="g_name" value="{{game_name}}" />
        	    <input type="hidden" name="delete_confirmed" value="delete_confirmed" />
    		    <input type="submit" class="btn btn-danger" name="delete" value="Delete">
			</div>
		</form>
		
		<form name="input" action="/profile/" method="post"> {% csrf_token %}
    		<input type="submit" class="btn btn-default" name="cancel" value="Cancel">
		</form>
	</div>

{% endblock content %}
