{% extends "base.html" %}
{% block title %} Play {{ game.name }} {% endblock title %}
{% block scripts %}
	{%load staticfiles %}
    <script src="{% static 'onlinestore/scripts/iframeMessageListener.js' %}"></script>
{% endblock scripts %}
{% block content %}
	<h1>{{ game.name }}</h1>
	<div class="embed-responsive embed-responsive-4by3">
		<iframe id="game" class="embed-responsive-item" src="{{ game.source_URL }}"></iframe>
	</div>
	<!--<div class="row-fluid">
	    <iframe id="game" src="{{ game.source_URL }}" class="container well well-sm spa"></iframe>
	</div>-->
	<div id="global-scores">
	    <h2>Global scores</h2>
		{% if global_scores %}
			{% include "game/scores.html" with scores=global_scores %}
		{% else %}
			<p>Be the first to play this game!</p>
		{% endif %}

	</div>
	<div id="player-scores">
	    <h2>Player scores</h2>
		{% if player_scores %}
			{% include "game/scores.html" with scores=player_scores %}
		{% else %}
			<p>You haven't played this game yet!</p>
		{% endif %}
	</div>
{% endblock content %}